@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css or App.css */
.navlink {
  font-weight: 700;
  position: relative;
  display: flex;
  color: inherit; /* Use the inherited color */
  transition: color 0.3s ease-out; /* Smooth transition for color */
}

.navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust this to position the underline */
  width: 100%;
  height: 2px; /* Adjust this to change the underline thickness */
  background: #81ba00; /* Use the custom green color */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.navlink:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navlink:hover {
  color: #81ba00; /* Change text color on hover */
}

.mySwiper {
  width: 100%;
  height: 50vh; /* Adjust height for responsiveness */
}

@media (min-width: 640px) {
  .mySwiper {
    height: 70vh; /* Increase height on medium screens */
  }
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mySwiper .swiper-pagination-bullet {
  background-color: #81ba00;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #81ba00;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #81ba00;
}
.mySwiper2 {
  width: 100%;
  height: auto; /* Adjust height to content */
  padding-bottom: 40px; /* Ensure pagination bullets are visible */
}

.mySwiper2 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 .swiper-pagination-bullet {
  background-color: #adadad;
}

.mySwiper2 .swiper-pagination-bullet-active {
  background-color: #81ba00;
}

.wrapper {
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  border-radius: 5px; /* Optional for rounded corners */
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s ease;
}

.wrapper:hover img {
  transform: scale(1.1);
}

.subbanner-description {
  position: absolute;
  top: 66px;
  right: 37px;
  text-align: left;
}

.custom-checkbox {
  background-color: #81ba00;
  border-color: #81ba00;
}
.custom-checkbox:checked {
  background-color: #81ba00;
  border-color: #81ba00;
}
